
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v15/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BAyo3Rep8ltA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v12/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmYmRjRdE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

body {
	margin: 0;
}

ul.top-menu-items {
	position: relative;
	width: 90%;
	left: 3em;
	padding-left: 0;
	bottom: 1em;
}

nav.top-nav {
	display: table;  
	margin: 0 auto;
	width: 90%;
}

header.top-menu {
	background-color: #357ea6;
	padding: 8px 0 8px 0;
	height: 3em;
	margin-bottom: 0;
	width: 100%;
}

ul.top-menu-items > li {
	list-style-type: none;
	display: inline;
	margin: 0 15px;
	font-family: 'Roboto Slab', serif;
}

ul.top-menu-items > li > a {
	color: black;
	text-decoration: none;
	font-size: 34px;
	margin-top: 10px;
}

ul.top-menu-items > li > a:hover {
	text-decoration: underline;
}

ul.top-menu-items > li:first-child{
	margin: 0;
	font-family: 'Dancing Script', cursive;
	font-weight: 500;
	padding-left: 0;
	padding-right: 1em;
}

a.go-link:hover {
	filter: brightness(125%);
	cursor: pointer;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #357ea6;
	width: 100%;
}

footer > div.mission-socials {
	width: 100%;
	align-items: baseline;
	font-family: 'Roboto Slab', serif;
}

div.socials{
	position: relative;
	float: right;
	font-weight: bold;
	font-size: 21pt;
}

span.soc-label {
	text-decoration: underline;
}

nav.social-links > ul {
	padding-left: 0;
	padding-top: 0;
	margin-top: 2px;
}

nav.social-links > ul > li {
	list-style-type: none;
	display: inline;
	padding-right: 1em;	
}

i.fa {
	color: black;
}

i.fa:hover {
	color: #B7FFB0;
}
